.thumbnail-list-item {
  margin-bottom: 8px;
}

.button {
  background-color: transparent;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}

.thumbnail-image {
  height: 60px;
  width: 60px;
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    height: 120px;
    width: 120px;
  }

  .thumbnail-list-item {
    margin-bottom: 10px;
  }
}
