.navbar {
  background-color: #2c0e3a;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.website-logo {
  height: 28px;
  width: 140px;
}

.nav-items-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  margin-right: 10px;
}

span {
  color: #fec653;
  font-size: 14px;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer {
  height: 20px;
  width: 20px;
}

.time {
  font-family: 'Roboto';
  font-size: 14px;
  color: #fec653;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 12px 62px;
  }

  .website-logo {
    height: 36px;
    width: 180px;
  }

  .score {
    font-size: 18px;
    margin-right: 20px;
  }

  span {
    font-size: 24px;
  }

  .timer {
    height: 24px;
    width: 24px;
  }

  .time {
    font-size: 24px;
    margin-left: 6px;
  }
}
